<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('home')}}" method="post">
        {{ form.csrf_token }}
        {{form.user_message(class_="form-input")}}
        {{form.submit}}
    </form>

    <section class="container">

        {% for item in database: %}
        <div class="message-card">
            <p>{{item.message}}</p>
        </div>
        {% endfor %}

    </section>

</body>
</html>